 <h1>Detalles del producto</h1>
 <div class="product-details">
    <div class="product-image">
      <img src="{{prod.img}}" alt="Product Image">
    </div>
    <div class="product-data">
      <h2>{{prod.name}}</h2>
      <p>{{prod.description}}</p>
      <p><strong>Tipo:</strong> {{prod.type}}</p>
      <p><strong>Marca:</strong> {{prod.brand}}</p>
      <p><strong>Tamaño:</strong> {{prod.size}}</p>
      <p><strong>Precio Unitario:</strong> ${{unitPrice}}</p>
      <p><strong>Cantidad por Caja:</strong> {{prod.boxQuantity}}</p>
      <p><strong>Precio de Venta:</strong> ${{salePrice}}</p>
      <div class="buttons">
        <a href="http://localhost:8080/api/products/{{prod.id}}/update"><button class="edit-button">Editar Producto</button></a>
        <button class="btn-delete" data-product-id="{{prod.id}}">Eliminar Producto</button>
      </div>
    </div>
  </div>
  <script type="module" src="/js/deleteOneProd.js"></script>
