
<h1>Productos</h1>
<div class="product-container">
  {{#each productsMapped}}
    <div class="product-item">
      <img src="{{this.img}}" alt="">
      <li>
        <h3>Producto: {{this.name}}</h3>
        <h4>Tipo: {{this.type}}</h4>
        <p>Descripción: {{this.description}}</p>
        <p>Precio unitario: {{this.unitPrice}}</p>
        <p>Stock: {{this.stock}}</p>
        <button class="btn-add-to-cart" data-product-id="{{id}}"> Eliminar producto</button>
        <a href="http://localhost:8080/api/products/{{id}}/update"><button>Editar producto</button></a>
      </li>
    </div>
  {{/each}}
</div>

<script src="/js/products.js"></script>
<script src="/js/deleteOneProd.js"></script>