<h2>bienvenido {{user.firstName}}</h2>
<h3>Rol: {{user.rol}}</h3>
<a href="http://localhost:8080/auth/logout"><button>Cerrar sesión</button></a>
<h1>Productos</h1>
{{#each productsMapped}}
  <div class="productBox">
    <li><h3>{{this.name}}</h3>
    <h4>{{this.type}}</h4>
    <p>{{this.description}}</p>
    <p>{{this.unitPrice}}</p>
    <button class="btn-add-to-cart" data-product-id="{{id}}"> Añadir al carrito</button>
  </li></div>

{{/each}}
<script src="/js/scripts.js"></script>